.komplett {
	padding: 10px;
}

.welcome {
	background-image: linear-gradient(277deg, #1b81d7 0%, #1f4869 100%);
	height: auto;
	padding: 32px;
}

.login {
	padding-top: 20px;
	margin: 0 auto;
	width: 35%;
}

.footer {
	background-image: linear-gradient(277deg, #1b81d7 0%, #1f4869 100%);
	color: white;
	height: auto;
	padding: 32px;
	margin: 0 auto;
	text-align: center;
	bottom: 10px;
	position: absolute;
}

.info{
	padding-top: 10px;
}

.personenName {
	font-weight: bold;
}